/*
Listing index
*/
#listing-index-ul {
	list-style: none;
	margin: 3vh 0;
	padding: 0 !important;
}

.listing-index-li {
	background-color: #fff;
	border: 1px solid grey;
	border-radius: 2px;
	padding: 15px;
	margin: 2vh;
}

.title-row, .listing-row {
	margin: 0;
}

.listing-col {
	padding: 0;
}

span.bold{
	font-weight: bold;
}

.listing-preview-img img {
	max-width: 400px;
}

@media (max-width: 769px) {

	#listing-index-ul {
		width: 100%;
	}

	.listing-index-li {
		width: 100%;
		margin: 2vh 0;
	}
	
	.listing-preview-img {
		margin-bottom: 1vh;
	}

	.listing-preview-img img {
		max-width: 100%;
	}

}

/*
Listing show
*/
#title {
	margin-top: 3vh;
}

.carousel-container {
	border: 1px solid blue;
	float: left; 
	width: 60%;
}

#listingImg {
	width: 100%;
}

.vehicle-information {
	border: 1px solid red;
	float: right;
	width: 40%;
	padding: 10px;
}

@media (max-width: 769px) {

	.carousel-container,
	.vehicle-information {
		width: 100%;
		float: none;
		padding: none;
	}

}

/*
Profile Index
*/
@media (min-width: 769px) {

	.col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1 {
		padding: 0 !important;
	}
	
}