/*
Listing index
*/
#listing-index-ul {
	list-style: none;
	margin: 3vh 0;
	padding: 0 !important;
}

.listing-index-li {
	background-color: #fff;
	border: 1px solid grey;
	border-radius: 2px;
	margin: 2vh;
}

/*
Listing show
*/
#title {
	margin-top: 3vh;
}

#listingImg {
	width: 60%
}

@media (max-width: 769px) {

	#listingImg {
		width: 100%;
	}

}
