/*
Listing index
*/
#listing-index-ul {
	list-style: none;
	margin: 3vh 0;
	padding: 0 !important;
}

.listing-index-li {
	background-color: #fff;
	border: 1px solid grey;
	border-radius: 2px;
	padding: 15px;
	margin: 2vh;
}

.title-row, .listing-row {
	margin: 0;
}

.listing-col {
	padding: 0;
}

span.bold{
	font-weight: bold;
}

.listing-preview-img img {
	max-width: 400px;
}

@media (max-width: 769px) {

	#listing-index-ul {
		width: 100%;
	}

	.listing-index-li {
		width: 100%;
		margin: 2vh 0;
	}
	
	.listing-preview-img {
		margin-bottom: 1vh;
	}

	.listing-preview-img img {
		max-width: 100%;
	}

}

/*
Listing show
*/
#title {
	margin-top: 3vh;
}

#listingImg {
	width: 60%;
}

@media (max-width: 769px) {

	#listingImg {
		width: 100%;
	}

}
